#carouselExampleAutoplaying{
    text-align: center;
}
#carouselExampleAutoplaying h5{
    color: rgb(255, 255, 255);
    font-weight: bold;
}
#carouselExampleAutoplaying p{
    color: rgb(255, 255, 255);
    margin-bottom: 7%;
}
#carouselExampleAutoplaying img{
    height: 450px;
    margin-left: 12%;
    padding-bottom: 20px;}
#cert{
    color: aliceblue;
    padding-top: 2.5%;
    padding-bottom: 2%;
}
#sidekicks{
    padding-top: 12%;
}